body{
	margin-left: 500px;
	background: #e3e3e3;
	font-family: sans-serif;
	text-align: left;
}

p.one{
	margin: 0;
	text-align: center;
	width: 75%;
	border: 2px solid white;
}
p.two{
	margin: 0;
	text-align: center;
	width: 75%;
	border: 2px solid white;
}